  <div class="center-container1">
    <div class="data-container">
        <p>
          <strong>Team Name :</strong>
          <%= @team.name.capitalize %>
        </p>

        <p>
          <strong>Manager :</strong>
          <% if @team.manager %>
            <%= @team.manager.name.capitalize %>
          <% else %>
              Not assigned
          <% end %>
        </p>
        
        <% if @team.employees.any? %>
          <p><strong>Team Members:</strong></p>
          <div class="member-select-dropdown1">
            <ul>
              <% @team.employees.order(:name).each do |employee| %>
                <li ><%= employee.name.capitalize %></li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <p>Currently, there are no members in this team.</p>
        <% end %>
        <% if is_admin? %>
            <%= link_to edit_team_path(@team),
              class: "bi bi-pencil-square button-edit-top" do %>
            <% end %>
        <% end %>
  </div>
  </div>
<script>
  document.querySelectorAll('.team').forEach(function(element) {
        element.style.display = 'block';
  });

  document.querySelectorAll('.team-nav').forEach(function(element) {
        element.className += ' active'
  });
</script>


